.signin-panel-container {
	margin: 0 auto;
	max-width: 550px;
}
.signin-container {
	background-color:#eaeaea;
}
.user-icon {
	color: #e1e6ea;
	text-align: center;
}
.signin-title {
	text-align: center;
	margin-bottom: 80px;
}
.signin-title h1 {
	font-weight: bold;
	letter-spacing: -1;
}
.signin-title h5 {
	letter-spacing: -1;
}
.panel-signin {
	border: 0px;
}
.panel-signin > .panel-heading {
	background-color: #FFFFFF;
	border-color: #DDDDDD;
	color: #333333;
}
.panel-signin > .panel-body {
	background-color: #505050;
	border-color: #505050;
}
.panel-signin > .panel-footer {
	background-color: #404040;
	border-color: #505050;
}
.panel-signin > .panel-footer, .panel-signin > .panel-body, .panel-signin > .panel-body a, .panel-signin > .panel-body a:visited, .panel-signin > .panel-body a:focus, .panel-signin > .panel-footer a, .panel-signin > .panel-footer a:visited, .panel-signin > .panel-footer a:focus {
	color: #999999;
}
.fa-brown {
	color: #6f6f6f;
}
.fa-brown-lite {
	color: #505050;
}

.panel-signin > .panel-body input.form-control {
    background-color: #404040;
    border: medium none;
    color: #CCCCCC;
    height: 43px;
    padding-left: 20px;
}
.panel-signin > .panel-body .signin {
	background-color: #FF8627;
	color: #FFFFFF;
	padding-bottom: 10px;
	padding-top: 10px;
	transition: background-color 300ms linear 0s;
}
.panel-signin > .panel-footer > ul a:hover, .panel-signin > .panel-footer > ul a:focus {
	background-color: #505050;
}
.panel-title .text {
	font-size: 42px;
	color: #999999;
}
