<ul class="nav nav-sidebar">
	<li class="active"><a href="#">Overview</a></li>
	<li><a href="#">Reports <span class="badge pull-right">14</span></a></li>
	<li><a href="#">Analytics <span class="badge pull-right">14</span></a></li>
	<li><a href="#">Export <span class="badge pull-right">14</span></a></li>
</ul>
<ul class="nav nav-sidebar">
	<li><a href="">Nav item <span class="badge pull-right">14</span></a></li>
	<li><a href="">Nav item again <span class="badge pull-right">14</span></a></li>
	<li><a href="">One more nav <span class="badge pull-right">14</span></a></li>
	<li><a href="">Another nav item <span class="badge pull-right">14</span></a></li>
	<li><a href="">More navigation <span class="badge pull-right">14</span></a></li>
</ul>
<ul class="nav nav-sidebar">
	<li><a href="">Nav item again <span class="badge pull-right">14</span></a></li>
	<li><a href="">One more nav <span class="badge pull-right">14</span></a></li>
	<li><a href="">Another nav item <span class="badge pull-right">14</span></a></li>
</ul>