<ul class="nav nav-sidebar">
	<li class="active"><%= link_to "Overview", root_path %></li>
	<li><%= link_to "Banks", banks_path %></li>
	<li><%= link_to "Transactions", transactions_path %></li>
</ul>
